USE [FactoryDB]
GO
/****** Object:  User [Admin]    Script Date: 26.03.2021 11:54:11 ******/
CREATE USER [Admin] FOR LOGIN [Admin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Vlad]    Script Date: 26.03.2021 11:54:11 ******/
CREATE USER [Vlad] FOR LOGIN [Vlad] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Сотрудник]    Script Date: 26.03.2021 11:54:11 ******/
CREATE USER [Сотрудник] FOR LOGIN [Сотрудник] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [Admin]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [Admin]
GO
ALTER ROLE [db_datareader] ADD MEMBER [Admin]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [Admin]
GO
ALTER ROLE [db_owner] ADD MEMBER [Vlad]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [Vlad]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [Vlad]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [Vlad]
GO
ALTER ROLE [db_datareader] ADD MEMBER [Vlad]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [Vlad]
GO
ALTER ROLE [db_datareader] ADD MEMBER [Сотрудник]
GO
/****** Object:  Table [dbo].[МалыйГрузовойЛифт]    Script Date: 26.03.2021 11:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[МалыйГрузовойЛифт](
	[elevator_id] [int] NOT NULL,
	[ИндексЛифта] [nvarchar](50) NULL,
	[Грузоподъемность] [int] NULL,
	[Скорость] [float] NULL,
	[ШиринаКабины] [float] NULL,
	[ГлубинаКабины] [float] NULL,
	[ВысотаКабины] [float] NULL,
	[ШиринаШахты] [float] NULL,
	[ГлубинаШахты] [float] NULL,
	[Противовес] [nvarchar](50) NULL,
	[ШиринаПроемаДверей] [nvarchar](50) NULL,
	[МаксВысотаПодъема] [float] NULL,
	[ОстановокКабины] [int] NULL,
 CONSTRAINT [PK_МалыйГрузовойЛифт] PRIMARY KEY CLUSTERED 
(
	[elevator_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ГрузовойЛифт]    Script Date: 26.03.2021 11:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ГрузовойЛифт](
	[freightElevatorID] [int] NOT NULL,
	[ИндексЛифта] [nvarchar](50) NULL,
	[Грузоподъемность] [int] NULL,
	[Скорость] [float] NULL,
	[ШиринаКабины] [float] NULL,
	[ГлубинаКабины] [float] NULL,
	[ВысотаКабины] [float] NULL,
	[ШиринаШахты] [float] NULL,
	[ГлубинаШахты] [float] NULL,
	[Противовес] [nvarchar](50) NULL,
	[ШиринаПроемаДверей] [nvarchar](50) NULL,
	[МаксВысотаПодъема] [float] NULL,
	[ОстановокКабины] [int] NULL,
 CONSTRAINT [PK_ГрузовойЛифт] PRIMARY KEY CLUSTERED 
(
	[freightElevatorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[FreightElevators]    Script Date: 26.03.2021 11:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[FreightElevators] AS
SELECT TOP(1000)
       [ИндексЛифта]
      ,[Грузоподъемность]
      ,[Скорость]
      ,[ШиринаКабины]
      ,[ГлубинаКабины]
      ,[ВысотаКабины]
      ,[ШиринаШахты]
      ,[ГлубинаШахты]
      ,[Противовес]
      ,[ШиринаПроемаДверей]
      ,[МаксВысотаПодъема]
      ,[ОстановокКабины]
FROM   [FactoryDB].[dbo].[ГрузовойЛифт]
UNION ALL
SELECT TOP(1000)
	   [ИндексЛифта]
      ,[Грузоподъемность]
      ,[Скорость]
      ,[ШиринаКабины]
      ,[ГлубинаКабины]
      ,[ВысотаКабины]
      ,[ШиринаШахты]
      ,[ГлубинаШахты]
      ,[Противовес]
      ,[ШиринаПроемаДверей]
      ,[МаксВысотаПодъема]
      ,[ОстановокКабины]
FROM   [FactoryDB].[dbo].[МалыйГрузовойЛифт]
ORDER BY ИндексЛифта
GO
/****** Object:  Table [dbo].[МодельныйРядПегас]    Script Date: 26.03.2021 11:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[МодельныйРядПегас](
	[Pegas_id] [int] NOT NULL,
	[ИндексЛифта] [nvarchar](50) NULL,
	[Грузоподъемность] [int] NULL,
	[Скорость] [nvarchar](50) NULL,
	[ШиринаКабины] [float] NULL,
	[ГлубинаКабины] [float] NULL,
	[ВысотаКабины] [float] NULL,
	[ШтихмасКабины(мм)] [float] NULL,
	[ШиринаШахты] [float] NULL,
	[ГлубинаШахты] [float] NULL,
	[Противовес] [nvarchar](50) NULL,
	[ШиринаПроемаДверей] [float] NULL,
 CONSTRAINT [PK_МодельныйРядПегас] PRIMARY KEY CLUSTERED 
(
	[Pegas_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ModelPegas]    Script Date: 26.03.2021 11:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
CREATE VIEW [dbo].[ModelPegas] AS
SELECT TOP (1000) [Pegas_id]
      ,[ИндексЛифта]
      ,[Грузоподъемность]
      ,[Скорость]
      ,[ШиринаКабины]
      ,[ГлубинаКабины]
      ,[ВысотаКабины]
      ,[ШтихмасКабины(мм)]
      ,[ШиринаШахты]
      ,[ГлубинаШахты]
      ,[Противовес]
      ,[ШиринаПроемаДверей]
  FROM [FactoryDB].[dbo].[МодельныйРядПегас]
GO
/****** Object:  Table [dbo].[ГрузовойЛифтИстория]    Script Date: 26.03.2021 11:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ГрузовойЛифтИстория](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ElevatorIndex] [nvarchar](50) NOT NULL,
	[Operation] [nvarchar](200) NOT NULL,
	[CreateAt] [datetime] NOT NULL,
 CONSTRAINT [PK_ГрузовойЛифтИстория] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ГрузовойЛифтТест]    Script Date: 26.03.2021 11:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ГрузовойЛифтТест](
	[freightElevatorID] [int] NOT NULL,
	[ИндексЛифта] [nvarchar](50) NULL,
	[Грузоподъемность] [nvarchar](50) NULL,
	[Скорость] [nvarchar](50) NULL,
	[ШиринаКабины] [nvarchar](50) NULL,
	[ГлубинаКабины] [nvarchar](50) NULL,
	[ВысотаКабины] [nvarchar](50) NULL,
	[ШиринаШахты] [nvarchar](50) NULL,
	[ГлубинаШахты] [nvarchar](50) NULL,
	[Противовес] [nvarchar](50) NULL,
	[ШиринаПроемаДверей] [nvarchar](50) NULL,
	[МаксВысотаПодъема] [nvarchar](50) NULL,
	[ОстановокКабины] [nvarchar](50) NULL,
 CONSTRAINT [PK_ГрузовойЛифтТест] PRIMARY KEY CLUSTERED 
(
	[freightElevatorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[МалыйГрузовойЛифтИмпорт]    Script Date: 26.03.2021 11:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[МалыйГрузовойЛифтИмпорт](
	[elevator_id] [int] NOT NULL,
	[ИндексЛифта] [nvarchar](50) NULL,
	[Грузоподъемность] [nvarchar](50) NULL,
	[Скорость] [nvarchar](50) NULL,
	[ШиринаКабины] [nvarchar](50) NULL,
	[ГлубинаКабины] [nvarchar](50) NULL,
	[ВысотаКабины] [nvarchar](50) NULL,
	[ШиринаШахты] [nvarchar](50) NULL,
	[ГлубинаШахты] [nvarchar](50) NULL,
	[Противовес] [nvarchar](50) NULL,
	[ШиринаПроемаДверей] [nvarchar](50) NULL,
	[МаксВысотаПодъема] [nvarchar](50) NULL,
	[ОстановокКабины] [nvarchar](50) NULL,
 CONSTRAINT [PK_МалыйГрузовойЛифтИмпорт] PRIMARY KEY CLUSTERED 
(
	[elevator_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[МодельныйРядПегасИмпорт]    Script Date: 26.03.2021 11:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[МодельныйРядПегасИмпорт](
	[Pegas_id] [int] NOT NULL,
	[ИндексЛифта] [nvarchar](50) NULL,
	[Грузоподъемность] [nvarchar](50) NULL,
	[Скорость] [nvarchar](50) NULL,
	[ШиринаКабины] [nvarchar](50) NULL,
	[ГлубинаКабины] [nvarchar](50) NULL,
	[ВысотаКабины] [nvarchar](50) NULL,
	[ШтихмасКабины(мм)] [nvarchar](50) NULL,
	[ШиринаШахты] [nvarchar](50) NULL,
	[ГлубинаШахты] [nvarchar](50) NULL,
	[Противовес] [nvarchar](50) NULL,
	[ШиринаПроемаДверей] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Pegas_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ГрузовойЛифт] ([freightElevatorID], [ИндексЛифта], [Грузоподъемность], [Скорость], [ШиринаКабины], [ГлубинаКабины], [ВысотаКабины], [ШиринаШахты], [ГлубинаШахты], [Противовес], [ШиринаПроемаДверей], [МаксВысотаПодъема], [ОстановокКабины]) VALUES (1, N'ЛГО-0500К', 500, 0.5, 1435, 2000, 2000, 2100, 2200, N'справа, слева
', N'1250
', 75, 20)
INSERT [dbo].[ГрузовойЛифт] ([freightElevatorID], [ИндексЛифта], [Грузоподъемность], [Скорость], [ШиринаКабины], [ГлубинаКабины], [ВысотаКабины], [ШиринаШахты], [ГлубинаШахты], [Противовес], [ШиринаПроемаДверей], [МаксВысотаПодъема], [ОстановокКабины]) VALUES (2, N'ЛГО-5500К', 500, 0.5, 1435, 2000, 2000, 2100, 2200, N'справа, слева
', N'1250
', 75, 20)
SET IDENTITY_INSERT [dbo].[ГрузовойЛифтИстория] ON 

INSERT [dbo].[ГрузовойЛифтИстория] ([ID], [ElevatorIndex], [Operation], [CreateAt]) VALUES (4, N'2', N'Добавлен лифт с индексомЛГО-0500К категории "Грузовой лифт"', CAST(N'2021-03-25T12:22:52.080' AS DateTime))
INSERT [dbo].[ГрузовойЛифтИстория] ([ID], [ElevatorIndex], [Operation], [CreateAt]) VALUES (5, N'3', N'Добавлен лифт с индексом ЛГО-0550К категории "Грузовой лифт"', CAST(N'2021-03-25T12:31:14.190' AS DateTime))
INSERT [dbo].[ГрузовойЛифтИстория] ([ID], [ElevatorIndex], [Operation], [CreateAt]) VALUES (6, N'2', N'Обновлен лифт с индексом ЛГО-1000К категории "Грузовой лифт"', CAST(N'2021-03-25T12:42:08.367' AS DateTime))
SET IDENTITY_INSERT [dbo].[ГрузовойЛифтИстория] OFF
INSERT [dbo].[ГрузовойЛифтТест] ([freightElevatorID], [ИндексЛифта], [Грузоподъемность], [Скорость], [ШиринаКабины], [ГлубинаКабины], [ВысотаКабины], [ШиринаШахты], [ГлубинаШахты], [Противовес], [ШиринаПроемаДверей], [МаксВысотаПодъема], [ОстановокКабины]) VALUES (1, N'ЛГО-0500К', N'500', N'0,5', N'1435', N'2000', N'2000', N'2100', N'2200', N'справа, слева', N'1250', N'75', N'20')
INSERT [dbo].[ГрузовойЛифтТест] ([freightElevatorID], [ИндексЛифта], [Грузоподъемность], [Скорость], [ШиринаКабины], [ГлубинаКабины], [ВысотаКабины], [ШиринаШахты], [ГлубинаШахты], [Противовес], [ШиринаПроемаДверей], [МаксВысотаПодъема], [ОстановокКабины]) VALUES (2, N'ЛГО-0520К', N'500', N'0,5', N'1000', N'1500', N'2000', N'1600', N'1700', N'справа, слева', N'850', N'75', N'20')
INSERT [dbo].[ГрузовойЛифтТест] ([freightElevatorID], [ИндексЛифта], [Грузоподъемность], [Скорость], [ШиринаКабины], [ГлубинаКабины], [ВысотаКабины], [ШиринаШахты], [ГлубинаШахты], [Противовес], [ШиринаПроемаДверей], [МаксВысотаПодъема], [ОстановокКабины]) VALUES (3, N'ЛГО-0520КМ', N'500', N'0,5', N'1000', N'1000', N'2000', N'1600', N'1200', N'справа, слева', N'850', N'75', N'20')
INSERT [dbo].[МалыйГрузовойЛифт] ([elevator_id], [ИндексЛифта], [Грузоподъемность], [Скорость], [ШиринаКабины], [ГлубинаКабины], [ВысотаКабины], [ШиринаШахты], [ГлубинаШахты], [Противовес], [ШиринаПроемаДверей], [МаксВысотаПодъема], [ОстановокКабины]) VALUES (1, N'ЛГМ-0101А', 100, 0.5, 890, 630, 1000, 1544, 914, N'справа,слева', N'860/900 верт.', 5.2, 2)
INSERT [dbo].[МалыйГрузовойЛифт] ([elevator_id], [ИндексЛифта], [Грузоподъемность], [Скорость], [ШиринаКабины], [ГлубинаКабины], [ВысотаКабины], [ШиринаШахты], [ГлубинаШахты], [Противовес], [ШиринаПроемаДверей], [МаксВысотаПодъема], [ОстановокКабины]) VALUES (2, N'ЛГМ-0101Б', 100, 0.5, 890, 630, 1000, 1300, 750, N'справа,слева', N'860/900 верт.', 45, 14)
INSERT [dbo].[МалыйГрузовойЛифтИмпорт] ([elevator_id], [ИндексЛифта], [Грузоподъемность], [Скорость], [ШиринаКабины], [ГлубинаКабины], [ВысотаКабины], [ШиринаШахты], [ГлубинаШахты], [Противовес], [ШиринаПроемаДверей], [МаксВысотаПодъема], [ОстановокКабины]) VALUES (1, N'ЛГМ-0101А', N'100', N'0,5', N'890', N'630', N'1000', N'1544', N'914', N'справа,слева', N'860/900 верт.', N'5,2', N'2')
INSERT [dbo].[МалыйГрузовойЛифтИмпорт] ([elevator_id], [ИндексЛифта], [Грузоподъемность], [Скорость], [ШиринаКабины], [ГлубинаКабины], [ВысотаКабины], [ШиринаШахты], [ГлубинаШахты], [Противовес], [ШиринаПроемаДверей], [МаксВысотаПодъема], [ОстановокКабины]) VALUES (2, N'ЛГМ-0101Б', N'100', N'0,5', N'890', N'630', N'1000', N'1300', N'750', N'справа,слева', N'860/900 верт.', N'45', N'14')
INSERT [dbo].[МодельныйРядПегас] ([Pegas_id], [ИндексЛифта], [Грузоподъемность], [Скорость], [ШиринаКабины], [ГлубинаКабины], [ВысотаКабины], [ШтихмасКабины(мм)], [ШиринаШахты], [ГлубинаШахты], [Противовес], [ШиринаПроемаДверей]) VALUES (1, N'П0411', 400, N'0.71; 1.0; 1.6;', 1100, 1050, 2100, 1200, 1550, 1550, N'сзади', 700)
INSERT [dbo].[МодельныйРядПегасИмпорт] ([Pegas_id], [ИндексЛифта], [Грузоподъемность], [Скорость], [ШиринаКабины], [ГлубинаКабины], [ВысотаКабины], [ШтихмасКабины(мм)], [ШиринаШахты], [ГлубинаШахты], [Противовес], [ШиринаПроемаДверей]) VALUES (1, N'П0411', N'400', N'0.71; 1.0; 1.6;', N'1100', N'1050', N'2100', N'1200', N'1550', N'1550', N'сзади', N'700')
INSERT [dbo].[МодельныйРядПегасИмпорт] ([Pegas_id], [ИндексЛифта], [Грузоподъемность], [Скорость], [ШиринаКабины], [ГлубинаКабины], [ВысотаКабины], [ШтихмасКабины(мм)], [ШиринаШахты], [ГлубинаШахты], [Противовес], [ШиринаПроемаДверей]) VALUES (2, N'П0411', N'400', N'0.71; 1.0; 1.6;', N'1100', N'1050', N'2100', N'1200', N'1550', N'1650', N'сзади', N'700')
INSERT [dbo].[МодельныйРядПегасИмпорт] ([Pegas_id], [ИндексЛифта], [Грузоподъемность], [Скорость], [ШиринаКабины], [ГлубинаКабины], [ВысотаКабины], [ШтихмасКабины(мм)], [ШиринаШахты], [ГлубинаШахты], [Противовес], [ШиринаПроемаДверей]) VALUES (3, N'П0411', N'400', N'0.71; 1.0; 1.6;', N'1100', N'1050', N'2100', N'1200', N'1750', N'1650', N'сзади', N'800')
ALTER TABLE [dbo].[ГрузовойЛифтИстория] ADD  DEFAULT (getdate()) FOR [CreateAt]
GO
/****** Object:  StoredProcedure [dbo].[ElevatorsSpecifications]    Script Date: 26.03.2021 11:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ElevatorsSpecifications] AS
BEGIN
SELECT ГрузовойЛифт.ИндексЛифта, ГрузовойЛифт.Грузоподъемность FROM [ГрузовойЛифт]
UNION ALL
SELECT МалыйГрузовойЛифт.ИндексЛифта, МалыйГрузовойЛифт.Грузоподъемность FROM  [МалыйГрузовойЛифт]
UNION ALL
SELECT МодельныйРядПегас.ИндексЛифта, МодельныйРядПегас.Грузоподъемность FROM [МодельныйРядПегас]
END
GO
/****** Object:  StoredProcedure [dbo].[FreightElevatorTestDelData]    Script Date: 26.03.2021 11:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FreightElevatorTestDelData] AS
BEGIN
 TRUNCATE TABLE [ГрузовойЛифтТест]
END;
GO
/****** Object:  StoredProcedure [dbo].[PegasImportDelData]    Script Date: 26.03.2021 11:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PegasImportDelData] AS
BEGIN
 TRUNCATE TABLE [МодельныйРядПегасИмпорт]
END;
GO
/****** Object:  StoredProcedure [dbo].[SmallFreightElevatorTestDelData]    Script Date: 26.03.2021 11:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SmallFreightElevatorTestDelData] AS
BEGIN
 TRUNCATE TABLE [МалыйГрузовойЛифтИмпорт]
END;
GO
/****** Object:  Trigger [dbo].[FreightElevatorDelete]    Script Date: 26.03.2021 11:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE TRIGGER [dbo].[FreightElevatorDelete]
  ON [dbo].[ГрузовойЛифт]
  AFTER DELETE
  AS
  INSERT INTO ГрузовойЛифтИстория(ElevatorIndex,Operation)
  SELECT freightElevatorID ,'Удален лифт с индексом ' + ИндексЛифта + ' категории "Грузовой лифт"'
  FROM DELETED
GO
ALTER TABLE [dbo].[ГрузовойЛифт] ENABLE TRIGGER [FreightElevatorDelete]
GO
/****** Object:  Trigger [dbo].[FreightElevatorInsert]    Script Date: 26.03.2021 11:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE TRIGGER [dbo].[FreightElevatorInsert]
  ON [dbo].[ГрузовойЛифт]
  AFTER INSERT
  AS
  INSERT INTO ГрузовойЛифтИстория(ElevatorIndex,Operation)
  SELECT freightElevatorID ,'Добавлен лифт с индексом ' + ИндексЛифта + ' категории "Грузовой лифт"'
  FROM INSERTED
GO
ALTER TABLE [dbo].[ГрузовойЛифт] ENABLE TRIGGER [FreightElevatorInsert]
GO
/****** Object:  Trigger [dbo].[FreightElevatorUpdate]    Script Date: 26.03.2021 11:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE TRIGGER [dbo].[FreightElevatorUpdate]
  ON [dbo].[ГрузовойЛифт]
  AFTER UPDATE
  AS
  INSERT INTO ГрузовойЛифтИстория(ElevatorIndex,Operation)
  SELECT freightElevatorID ,'Обновлен лифт с индексом ' + ИндексЛифта + ' категории "Грузовой лифт"'
  FROM INSERTED
GO
ALTER TABLE [dbo].[ГрузовойЛифт] ENABLE TRIGGER [FreightElevatorUpdate]
GO
/****** Object:  Trigger [dbo].[SmallFreightElevatorDelete]    Script Date: 26.03.2021 11:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE TRIGGER [dbo].[SmallFreightElevatorDelete]
  ON [dbo].[МалыйГрузовойЛифт]
  AFTER DELETE
  AS
  INSERT INTO ГрузовойЛифтИстория(ElevatorIndex,Operation)
  SELECT elevator_id ,'Удален лифт с индексом ' + ИндексЛифта + '  категории " Малый Грузовой лифт"'
  FROM DELETED
GO
ALTER TABLE [dbo].[МалыйГрузовойЛифт] ENABLE TRIGGER [SmallFreightElevatorDelete]
GO
/****** Object:  Trigger [dbo].[SmallFreightElevatorINSERT]    Script Date: 26.03.2021 11:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE TRIGGER [dbo].[SmallFreightElevatorINSERT]
  ON [dbo].[МалыйГрузовойЛифт]
  AFTER INSERT
  AS
  INSERT INTO ГрузовойЛифтИстория(ElevatorIndex,Operation)
  SELECT elevator_id ,'Добавлен лифт с индексом ' + ИндексЛифта + '  категории " Малый Грузовой лифт"'
  FROM INSERTED
GO
ALTER TABLE [dbo].[МалыйГрузовойЛифт] ENABLE TRIGGER [SmallFreightElevatorINSERT]
GO
/****** Object:  Trigger [dbo].[SmallFreightElevatorUpdate]    Script Date: 26.03.2021 11:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE TRIGGER [dbo].[SmallFreightElevatorUpdate]
  ON [dbo].[МалыйГрузовойЛифт]
  AFTER UPDATE
  AS
  INSERT INTO ГрузовойЛифтИстория(ElevatorIndex,Operation)
  SELECT elevator_id ,'Обновлен лифт с индексом ' + ИндексЛифта + '  категории " Малый Грузовой лифт"'
  FROM INSERTED
GO
ALTER TABLE [dbo].[МалыйГрузовойЛифт] ENABLE TRIGGER [SmallFreightElevatorUpdate]
GO
/****** Object:  Trigger [dbo].[PegasDelete]    Script Date: 26.03.2021 11:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE TRIGGER [dbo].[PegasDelete]
  ON [dbo].[МодельныйРядПегас]
  AFTER DELETE
  AS
  INSERT INTO ГрузовойЛифтИстория(ElevatorIndex,Operation)
  SELECT Pegas_id ,'Удален лифт с индексом ' + ИндексЛифта + '  категории " Модельный Ряд Пегас"'
  FROM DELETED
GO
ALTER TABLE [dbo].[МодельныйРядПегас] ENABLE TRIGGER [PegasDelete]
GO
/****** Object:  Trigger [dbo].[PegasInsert]    Script Date: 26.03.2021 11:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE TRIGGER [dbo].[PegasInsert]
  ON [dbo].[МодельныйРядПегас]
  AFTER INSERT
  AS
  INSERT INTO ГрузовойЛифтИстория(ElevatorIndex,Operation)
  SELECT Pegas_id ,'Добавлен лифт с индексом ' + ИндексЛифта + '  категории " Модельный Ряд Пегас"'
  FROM INSERTED
GO
ALTER TABLE [dbo].[МодельныйРядПегас] ENABLE TRIGGER [PegasInsert]
GO
/****** Object:  Trigger [dbo].[PegasUpdate]    Script Date: 26.03.2021 11:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE TRIGGER [dbo].[PegasUpdate]
  ON [dbo].[МодельныйРядПегас]
  AFTER UPDATE
  AS
  INSERT INTO ГрузовойЛифтИстория(ElevatorIndex,Operation)
  SELECT Pegas_id ,'Обновлен лифт с индексом ' + ИндексЛифта + '  категории " Модельный Ряд Пегас"'
  FROM INSERTED
GO
ALTER TABLE [dbo].[МодельныйРядПегас] ENABLE TRIGGER [PegasUpdate]
GO
